.head{
    color:white;
    width:100%;
    padding-top:5.5rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
}

.line{
    margin-top:-12px;
    border:3px dotted #89fffd;
    border-radius:50%;
    max-width:250px;
}

p{
    font-family:'Mukta',sans-serif;
      line-height:2rem;
      font-size:22px;
      letter-spacing: 1px;
}

@media only screen and (max-width:950px){
    .head{
        font-size:2.2rem;
        font-weight:475;
    }
}

@media only screen and (max-width:600px){
    p{
        font-size:1.4rem;
    }
}
