.tech {
  margin-top:30px;
}

.tech h3{
    font-family: Hind Siliguri,Helvetica,Arial,sans-serif;
    font-weight: lighter;
    text-align:center;
    color:#faea8f;
}

.stack{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.stack img{
    width:105px;
    height:100px;
    margin:40px;
}

@media only screen and (max-width:700px){
    .stack img{
        width:80px;
        height:80px;
        margin:30px;
    }
}
